/*@import*/
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&display=swap');

html{
    background-color: white;
    max-width: 1280px;
}

.pageTitle {
    font-size: 5rem;
    font-family: 'Anek Latin', sans-serif;
    text-align: center;
}

.pageTitleDiv {
    position: absolute;
    top: 20px;
    left: 325px;
}

.noteText {
    position: absolute;
    top: 180px;
    left: 150px;
    font-family: 'Anek Latin', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: rgb(71, 71, 71);
}

.eventHolder {
    position: absolute;
    top: 300px;
    left: 270px;
    border: 1px solid black;
    width: 772.65px;
    height: 300px;
}

.eventText{
    font-family: 'Joan', 'serif';
    font-size: 2rem;
    text-align: left;
    color: crimson;
}

.eventScroll{
    overflow: scroll;
    width: 772.50px;
    height: 276px;
    position: absolute;
    left: 271px;
    top: 325px;
}

.darkModeBtn{
    font-family: 'Joan', 'serif';
    font-size: 1.25rem;
    text-align: center;
    color: #d1d1d1;
    background-color: black;
}

.dataInputDiv {
    position: absolute;
    left: 1065px;
    top: 250px;
    width: 200px;
    height: 400px;
}

.dataInput{
    font-family: 'Joan', 'serif';
    position: absolute;
    left: 25px;
    top: 47px;
    height: 300px;
}

.dateSubmit {
    position: absolute;
    left: 110px;
    top: 325px;
    width: 60px;
    height: 20px;
}

/*links*/

.links {
    position: absolute;
    border: 2px solid black;
    width: 230px;
    height: 500px;
    top: 98px;
    left: 5px;
}

/*twitter*/

.twitterDiv {
    width: 230px;
    height: 100px;
    position: absolute;
    right: auto;
    left: auto;
    top: auto;
}

.twitterSvg {
    position: absolute;
    height: 50%;
    left: 28.5px;
    top: 28.5px;
}

.twitterText {
    position: absolute;
    font-family: 'Anek Latin', sans-serif;
    font-size: 20px;
    font-style: bold;
    top: 40px;
    left: 125px;
    margin: 0px;
}

/*github*/

.githubDiv {
    width: 230px;
    height: 100px;
    position: absolute;
    right: auto;
    left: auto;
    top: 100px;
}

.githubSvg {
    position: absolute;
    height: 50%;
    left: 28.5px;
    top: 28.5px;
}

.githubText {
    position: absolute;
    font-family: 'Anek Latin', sans-serif;
    font-size: 20px;
    font-style: bold;
    top: 40px;
    left: 125px;
    margin: 0px;
}